{% extends "base.html" %}{% block content %}
  <h1>Most Recent Posts</h1>
  {% comment %} here is where the query happens {% endcomment %}
  {% for post in post_list %}
  <div class="post">
    <h4>
      <a href="{% url 'blog_detail' post.pk %}" style="color: rgb(92, 155,  222)">{{ post }}</a>
    </h4>
    <p class="byline">
      Posted by {{ post.author.username }} &mdash; {{ post.published_date }}
    </p>
    <div class="post-body">
      {{ post.text }}
    </div>
    <div class="category_list">
      <p>
      <ul class="categories">
        Categories:
      {% for category in post.categories.all %}
        <li> {{ category }}</li>
      {% endfor %}
      </ul>
      </p>
    </div>
    </ul>

  </div>
  {% endfor %}
{% endblock %}